#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todos {
  background-color: white;
  width: 500px;
  height: auto;
}

.container_task_inout {
  width: auto;
}

.task_input {
  width: -webkit-fill-available;
  height: 40px;
  text-indent: 20px;
}

.todo {
  display: flex;
  align-items: center;
  /* border-top: 1px solid grey ; */
  border-bottom: 1px solid rgba(225, 217, 217, 0.837) ;
  text-align: left;
  height: 40px;
  font-size: x-large;
}

.todos_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-indent: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  margin: 0;
  padding: 0;
  /* gap: 10px; */
}

.footer button {
  display: flex;
  /* border: 1px solid rgb(155, 109, 109); */
  background-color: pink;
}